* {
  font-family: monospace;
  color: #333;
  box-sizing: border-box;
  /* font-size: 18px; */
}

#editor {
  margin: 0;

  padding: 0;
  box-shadow: 0px 0px 3px #33f;
}

#editor-frame {
  width: 360px;
  max-width: 100%;
  height: 360px;
  margin: auto;
  position: relative;
  border: 0px #33f solid;
  /* box-shadow: 0px 0px 3px #33f; */
}

#editor-frame canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 360px;
  max-width: 100%;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  /* cursor: crosshair; */
}

#tools {
  position: absolute;
  z-index: 5;
  top: 33%;
  left: 33%;
  bottom: 33%;
  right: 33%;
  padding: 16px;
  user-select: none;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
  /* grid-column-gap: 8px; */
  grid-row-gap: 8px;
}

#tools img {
  filter: contrast(0.01);
  /* padding: 5%; */
  /* height: 45%; */
}

.selected {
  filter: none !important;
  transform: scale(1.1);

  /* border: 1px solid red; */
}

body {
  background-color: antiquewhite;
  max-width: 900px;
  margin: auto;
  filter: drop-shadow(1px 1px 4px rgb(107, 117, 147));
  display: flex;
  flex-direction: column;
}

#render {
  justify-self: end;
  align-self: flex-start;
  /* height: 96px; */
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

#target {
  overflow: hidden;
  justify-self: end;
  width: 80%;
  max-width: 450px;
  position: relative;
  /* height: 100%; */
}

#target:after {
  content: attr(data-after);
  position: absolute;
  right: 4px;
  bottom: 4px;
}

#gallery {
  display: grid;
  margin-top: 8px;
  grid-template-columns: 50% 50%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

}

.gallery-line {
  overflow: hidden;
  position: relative;

}

.gallery-line:after {
  content: attr(data-after);
  position: absolute;
  right: 4px;
  bottom: 4px;
}

@keyframes flash {
  0% {
    filter: drop-shadow(1px 1px 0px rgb(107, 117, 147));
    transform: translateY(0px);
  }

  10% {
    filter: drop-shadow(1px 1px 15px rgb(107, 117, 147));
    transform: translateY(-3px);
  }

  100% {
    filter: drop-shadow(1px 1px 0px rgb(107, 117, 147));
    transform: translateY(0px);
  }
}

.flash {
  animation: flash;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

#scale {
  justify-self: end;
  align-self: flex-end;
  /* height: 96px; */
  image-rendering: pixelated;
}

textarea {
  height: 100%;
}

textarea,
pre {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: transparent;
}

.broider {
  padding: 8px;
}

.showcase {
  width: 100%;
  /* flex-grow: 1; */

  margin: auto;
  margin-top: 8px;

  display: grid;
  grid-template-columns: 33% auto 20%;
  grid-template-rows: 160px 160px auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

#color {
  background-color: transparent;
  box-sizing: content-box;
  height: 66px;
  width: 66px;
  border-image-width: 7px;
  border-width: 7px;
  padding: 0px;
  justify-self: start;
  align-self: flex-end;
}

input[type="color"] {
  -webkit-appearance: none;
  /* border: none; */
  width: 32px;
  height: 32px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0px;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  /* border-radius: 1px; */
}

@media only screen and (max-width: 700px) {
  .desktop {
    display: none !important;
  }

  .showcase {
    grid-template-columns: 33% auto 96px;
    grid-template-rows: 160px;
  }

  #render {
    position: fixed;
    right: 1000px;
  }

  .blurb {
    grid-area: 1/2/2/4 !important;
  }
}

.blurb {
  grid-area: 1/2/2/3;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 10px;
  }
}