* {
  font-family: monospace;
  color: #333;
  /* font-size: 18px; */
}
#editor {
  margin: 0;

  padding: 0;
  box-shadow: 0px 0px 3px #33f;

  /* image-rendering: pixelated; */
}
#editor-frame {
  width: 360px;
  max-width: 100%;
  height: 360px;
  margin: auto;
  position: relative;
  border: 0px #33f solid;
  /* box-shadow: 0px 0px 3px #33f; */
}
#editor-frame canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 360px;
  max-width: 100%;
  image-rendering: pixelated;
}

body {
  background-color: antiquewhite;
  max-width: 900px;
  margin: auto;
}
#render {
  justify-self: end;
  align-self: flex-end;
  height: 96px;
}
#target {
  overflow: hidden;
  justify-self: end;
  width: 80%;
  max-width: 450px;
  /* height: 100%; */
}
textarea {
  height: 100%;
}
textarea,
pre {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: transparent;
}
.bordered {
  padding: 8px;
}
.showcase {
  width: 100%;

  margin: auto;
  margin-top: 8px;

  display: grid;
  /* grid-template-columns: 33% auto 96px; */
  grid-template-rows: 160px 192px 160px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

@media only screen and (max-width: 700px) {
  .desktop {
    display: none;
  }
  .showcase {
    grid-template-columns: 33% auto 96px;
    grid-template-rows: 160px;
  }
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 10px;
  }
}
