* {
  font-family: monospace;
  color: #333;
  /* font-size: 18px; */
}
#editor {
  margin: 0;

  padding: 0;
  box-shadow: 0px 0px 3px #33f;
  /* image-rendering: pixelated; */
}
#editor-frame {
  width: 360px;
  max-width: 100%;
  height: 360px;
  margin: auto;
  position: relative;
  border: 0px #33f solid;
  /* box-shadow: 0px 0px 3px #33f; */
}
#editor-frame canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 360px;
  max-width: 100%;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  /* cursor: crosshair; */
}
#tools {
  position: absolute;
  z-index: 5;
  top: 33%;
  left: 33%;
  bottom: 33%;
  right: 33%;
  padding: 16px;
  user-select: none;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
  /* grid-column-gap: 8px; */
  grid-row-gap: 8px;
}
#tools img {
  filter: contrast(0.01);
  /* padding: 5%; */
  /* height: 45%; */
}
.selected {
  filter: none !important;
  transform: scale(1.1);

  /* border: 1px solid red; */
}
body {
  background-color: antiquewhite;
  max-width: 900px;
  margin: auto;
  filter: drop-shadow(1px 1px 4px rgb(107, 117, 147));
}
#render {
  justify-self: end;
  align-self: flex-end;
  height: 96px;
  image-rendering: pixelated;
}
#target {
  overflow: hidden;
  justify-self: end;
  width: 80%;
  max-width: 450px;
  /* height: 100%; */
}
textarea {
  height: 100%;
}
textarea,
pre {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: transparent;
}
.broider {
  padding: 8px;
}
.showcase {
  width: 100%;

  margin: auto;
  margin-top: 8px;

  display: grid;
  /* grid-template-columns: 33% auto 96px; */
  grid-template-rows: 160px 160px 160px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

@media only screen and (max-width: 700px) {
  .desktop {
    display: none !important;
  }
  .showcase {
    grid-template-columns: 33% auto 96px;
    grid-template-rows: 160px;
  }
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 10px;
  }
}
