#editor {
  border: 8px gainsboro solid;
  margin: 0;

  padding: 0;
  image-rendering: pixelated;
}
#editor-frame {
  width: 400px;
  height: 400px;
}
#editor-frame canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  height: 400px;
  image-rendering: pixelated;
}
body {
  background-color: antiquewhite;
}

#target {
  border-image-repeat: repeat;
  margin: 50px;
  height: 200px;
  background-color: transparent;
}
